<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <H1>Добавить сообщение</H1>
    <form th:method="POST" th:action="@{/messages}" th:object="${message}">
        <label for="text">Текст сообщения:</label>
            <input id="text" type="text" th:field="*{text}" />
        <label for="tag">Tag:</label>
            <input id="tag" type="text" th:field="*{tag}" />
        <input type="submit" value="Добавить" />
    </form>
</div>

<div>
    <H1>Фильтр</H1>
    <form th:method="GET" th:action="@{/messages}">
        <label for="filter">Tag:</label>
            <input id="filter" type="text" name="filter"/>
        <input type="submit" value="Добавить" />
    </form>
</div>


<div>
    <H1>Список сообщений</H1>
    <div th:th:unless="${messages.empty}" th:each="message : ${messages}" >
        <b th:text="${message.id}">Id</b>
        <span th:text="${message.text}">Text</span>
        <i th:text="${message.tag}"></i>
        <strong th:text="${message.author.username}">Author</strong>
    </div>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>